<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      text-align:center;
    }
    h2{
      color:black;
      font-family: Arial, sans-serif;
      font-size:25px;
      font-weight: bold;
      align-items:'center';
      justify-content:'center';
    }
    .intro-text {
      margin: 20px 0;
      font-size:20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <br><br>
  <h2>Bienvenue à Digital E-Services</h2>
  <br>
  <br><br><br><br>
  <div class="intro-text b">
  Digital E-service est une plateforme complète dédiée à la gestion des demandes de consommation des APIs
  pour faciliter aux utilisateurs la recherche des données et la demande des APIs
  Cette idée due pour résoudre plusieurs problèmes existants et elle permet de gagner de l'argent, d'économiser plus de temps ainsi
  qu'd’améliorer la qualité de service de l'administration en réduisant l’effet « coursier »
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

