<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="accueil.component.css">
</head>
<body>
	<header>
		<img src="assets/cni1.jpg" class="logo">
    <p style="font-weight: bold; font-size: 60px; color:white;">DigiCNI</p>

    <nav>
      <ul>
			<li>
				<li><button class="btn" routerLink="/services">Services</button></li>
				<li><button class="btn" routerLink="/connexion">Se connecter</button></li>
				<li><button class="btn" routerLink="/apropos">A propos </button></li>

      </ul>
		</nav>
	</header>
	<main>
    <h1>Digital E-service</h1>
		<div>
    <br>L'oni vise à amélioer l'efficacité et la collaboration entre les <br>

    ministéres et les organismes gouvernementaux en facilitant la
<br>
    recherche des données dans le cadre nationale
     d'intéroperabilité
     <br>
    </div>

  <img src="assets/security.webp" class="img">
  </main>
</body>

<app-footer></app-footer>
</html>
