<div class="container bootstrap snippets bootdey">
  <div class="row ng-scope">
      <div class="col-md-12">

      </div>
      <div class="col-md-12" style="background-color:rgb(245, 246, 250);">
          <div class="panel panel-default">
              <div class="panel-body">

                  <div class="h4 text-center"><strong style="color:rgb(29, 2, 2);">Détails  {{user.nom}}</strong></div>
                  <div class="row pv-lg">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-8">
                          <form class="form-horizontal ng-pristine ng-valid">
                              <div class="form-group">
                                  <label class="col-sm-2 control-label" for="nom"><i class="fas fa-user"></i> Nom</label>
                                  <br>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="nom" type="text" name="nom" [(ngModel)]="user.nom" required readonly>
                                  </div>
                              </div>
                              <br>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label" for="prenom"><i class="fas fa-user"></i> Prénom</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="prenom" type="text" name="prenom" [(ngModel)]="user.prenom" required readonly>
                                  </div>
                              </div>
                              <br>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label" for="email"><i class="fas fa-envelope"></i> Email</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="email" type="email" name="email" [(ngModel)]="user.email" required readonly>
                                  </div>
                              </div>
                                <br>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label" for="profile"><i class="fas fa-user"></i> Profile</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="profile" type="text" name="profile" [(ngModel)]="user.profile" required readonly>
                                  </div>
                              </div>
                              <br>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label" for="mobile"><i class="fas fa-mobile-alt"></i> Mobile</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="mobile" type="text" name="mobile" [(ngModel)]="user.mobile" required readonly>
                                  </div>
                              </div>
                              <br>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label" for="cin"><i class="fas fa-address-card"></i> CIN</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="cin" type="text" name="cin" [(ngModel)]="user.cin" required readonly>
                                  </div>
                              </div>
                              <br>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label" for="Password"><i class="fas fa-lock"></i> Password</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="password" type="password" name="password" [(ngModel)]="user.password" required readonly>
                                  </div>
                              </div>

                              <br>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label" for="cnrps"><i class="fas fa-id-card"></i> CNRPS</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="cnrps" type="text" name="cnrps" [(ngModel)]="user.cnrps" required readonly>
                                  </div>
                              </div>

                              <br>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label" for="fonction"><i class="fas fa-cogs"></i> Fonction</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="fonction" type="text" name="fonction" [(ngModel)]="user.fonction" required readonly>
                                  </div>
                              </div>
                              <br>
                              <div class="form-group">
                                  <label class="col-sm-2 control-label" for="grade"><i class="fas fa-graduation-cap"></i> Grade</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" id="grade" type="text" name="grade" [(ngModel)]="user.grade" required readonly>
                                  </div>
                              </div>
                                <br>

                              <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-10">
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox"> Contact préféré?
                                          </label>
                                      </div>
                                  </div>
                              </div>
                              <br>
                              <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-10">
                                      <button class="btn btn-light" style="text-align:center; margin-left:900px;" (click)="modifierUser(user.idUser)"> <i class="fas fa-edit"></i> Update</button>
                                  </div>
                              </div>
                          </form>
                          <div class="text-right"><a class="text-muted" (click)="supprimerUser(user.idUser)"> <i class="fas fa-trash"></i> <strong> Supprimer ce contact ? </strong></a></div>
                          <br>
                      </div>
                      <br>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body text-center">
                <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Contact"></div>
                <h3 class="m0 text-bold">{{user.Nom}}</h3>
                <div class="mv-lg">
                    <p>Bonjour Je suis <strong> {{user.nom}} {{user.prenom}} </strong>. Je suis <strong>{{user.fonction}} </strong>. Vous pouvez me contacter via <strong> {{user.email}}</strong> </p>
                </div>
                <div class="text-center"><a class="btn btn-dark" (click)="mailingUser(user.idUser)">Envoyer message</a></div>
            </div>
        </div>
      </div>
  </div>
</div>
