td{
  text-align: center;
  font-size: 16px;
  color: black;
  }
.c{
  background-color:rgb(247, 237, 237);
  border-radius: 100%;
}


h2{
  text-align: center;
  color:black;
  font-weight: bold;
}
#searchInput {
  width:200px;
  border-color: blue;
  border-radius: 20px;
}

.a{
  border-radius: 2px;
}
.k{
  margin-left:2px;
}
i{
  font-weight: bold;
}
.y{
  font-weight: bold;
}
.f{
  margin-left: 700px;
  width: 100px;
}
.btn-danger{
  margin-left:950px;
  width: 100px;

}
